
.navbar-brand{
  width: 20rem;
  height:4rem;
  display: flex;
  margin-left: 0px;
  padding: 0px;
}
.navbar{
  position: sticky;
  position: -webkit-sticky;
  background: #f83d23;
 
  top: 0px;

  box-shadow: 0 0 6px #000;
  color: #fff;

}
.nav-sub{
	text-align: center;
	 font-family: "Times New Roman", Times, serif;
	font-size: 80px;
	color: red;
   justify-content: center;
  align-items: center;
}



@media only screen and (max-width: 1200px) {
  .nav-sub{
    font-size: 60px;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar-brand{
    display: none;
  }
}





